<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="ParaBank Test Suite" parallel="tests" thread-count="3">

    <listeners>
        <listener class-name="base.Listeners"/>
    </listeners>

    <test name="LoginTests">
        <classes>
            <class name="tests.LoginTest"/>
        </classes>
    </test>

    <test name="AccountServicesTests">
        <classes>
            <class name="tests.AccountServicesTest"/>
        </classes>
    </test>

    <test name="TransferFundsTests">
        <classes>
            <class name="tests.TransferFundsTest"/>
        </classes>
    </test>

    <test name="ForgotLoginTest">
        <classes>
            <class name="tests.ForgotLoginTest"/>
        </classes>
    </test>

</suite>