<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite" parallel="tests" thread-count="3">
    <listeners>
        <listener class-name="base.Listeners"/>
    </listeners>
    <test verbose="2" preserve-order="true" name="C:/Users/Ajuja/IdeaProjects/ParaBank-Automation/src/test/java">
        <classes>
            <class name="tests.AccountServicesTest">
            </class>
            <class name="tests.LoginTest">
            </class>
            <class name="tests.TransferFundsTest">
            </class>
        </classes>
    </test>
</suite>